@use 'variaveis';

.sobre {

  &__lista {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &__item {
      margin: 2rem;
      font-weight: bold;
      display: flex;
      gap: 1rem;
      font-size: 2rem;
      color: #000;
      flex-grow: 1;

      p {
        font-weight: normal;
      }
    }

    @media (max-width: 1024px) {
      flex-direction: column;

      &__item {
        font-size: variaveis.$paragrafo;  
        margin: 0.5rem;
      }
    }

    @media (max-width: 640px) {
      padding: 2rem auto 1rem;
      flex-wrap: wrap;
    }

    @media (max-width: 530px) {
      &__item, 
      p {
        font-size: variaveis.$paragrafo;
      }
    }
  }
}

.contador {
  font-size: 2rem;

  @media (max-width: 1024px) {
    font-size: variaveis.$paragrafo;
    margin: auto;
  }
}
