.titulo {
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
  padding: 0.5rem;

  @media (max-width: 640px) {
    font-size: 4rem;
  }
  
  @media (max-width: 530px) {
    font-size: 3rem;
  }
}
